extends layout

block content

    table.table.table-striped
        tbody

            - data.forEach(function(item, index) {
                - if (item.isDirectory) {
                    tr
                        td.icon
                            i.icon-folder-open
                        td
                            a(href="#{item.path}") #{item.name}
                        td
                        td
                - } else if (/.mp4$/i.test(item.name)) {
                    tr
                        td.icon
                            i.icon-facetime-video
                        td.link
                            a(href="#", data-path="/#{item.path}", data-pathWebm="/#{item.pathWebm}", data-name="#{item.name}") #{item.name}
                        td.download
                            a.btn.btn-success.btn-mini(href="/download/#{item.path}", target="_blank") Download
                        td.size #{item.size}
                - }
            - });

    div.modal.hide.fade#modal(tabindex="-1", role="dialog", aria-labelledby="modalLabel", aria-hidden="true")
        div.modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") x
            h3#modalLabel

        div.modal-body
            video.video-js.vjs-default-skin(id="player", controls, preload="auto", data-setup="{}", width="400px", height="300")
