extends layout

block content
    h1= title

    - data.forEach(function(item, index) {
        div
            - if (item.isDirectory) {
                a(href="#{item.path}") #{item.name}
            - } else {
                div #{item.name}
                video.video-js.vjs-default-skin(id="video_#{index}", controls, preload="auto", width="640", height="264", data-setup="{}")
                    source(src="/#{item.path}", type='video/mp4')
            - }
        br
    - });
